/*HEADER*/

.Flexcontainer1{
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  padding-top: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}
.TeaCozy{
  height: 50px;
  margin-left: 10px;
}
.link1{
text-decoration: underline;
}
.link2{
text-decoration: underline;
}
.link3{
text-decoration: underline;
}

a{
  color: seashell;
}

/*BODY*/

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

/*BODY*/

/*FLEX CONTAINER 2*/

.Flexcontainer2{
  display: flex;
  height: 700px;
  width: 1200px;
  box-sizing: border-box;
  padding-top: 69px;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}
.MissionBackground{
  background-image: url(img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  height: 700px;
  width: 100%;
  padding-top: 69px;
  align-items: center;
  flex-direction: column;
}
.OurMission1{
  text-align: center;
  background-color: black;
  height:
}
#h2h4{
  background-color: black;
   margin: 250px 0;
}
.OurMission2{
  text-align: center;
}
{
  background-color: black;
}
/*FLEX CONTAINER 3*/

.Flexcontainer3{
  display: inline-block;
  flex-wrap: wrap;
  width: 1000px;
  height: 700px;
  justify-content: ;
  box-sizing: border-box;
  margin-top: 140px;
}
.Images1{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}
.ImagesCaptions1{
  display: inline-flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
}

/*IMAGES 1 TO 3*/

.Berry{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.Spiced{
  height: 200px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.Donuts{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/*IMAGES 4 TO 5*/

.Images2{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
}

.ImagesCaptions2{
  display: inline-flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
}
#capm{
  padding-left: 150px;
}
#capb{
  padding-right: 130px;
}
.Myrtle{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.Bedford{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

/*FLEX CONTAINER 4*/

.Flexcontainer4{
  display: inline-block;
  height: 500px;
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  box-sizing: border-box;
}
.cup{
  height: 500px;
  width: 1200px;
  background-image: url(img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
}
.boxes{
height: 300px;
width: 300px;
opacity: 1;
background-color: black;
display: inline-block;
}

.Locations{
margin-bottom:
}

/*FLEX CONTAINER 5*/

.Flexcontainer5{
  display: inline-block;
  height: 200px;
  text-align: center;
  width: 1200px;
}
/*FLEX CONTAINER 6*/

.Flexcontainer6{
  display: flex;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}
